body {
    position: absolute;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    
}

#wrapper {
    position: absolute;
    padding-top: 115px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 0;
}

#wrapper img {
    position: absolute;
    padding-top: 20px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.key {
    font-family: "Menlo", monospace;
    text-align: left;
    width: 50%;
    margin: auto;
    white-space: pre-wrap;
    line-height:13px;
}